<header>
  <ul>
    <li><a [routerLink]="[ '/sobre-mi']" [routerLinkActive]="[actived]">Sobre mi</a></li>
    <li><a [routerLink]="[ '/proyectos']" [routerLinkActive]="[actived]">Proyectos</a></li>
    <li id="logo"><a href="#">JC</a></li>
    <li><a [routerLink]="[ '/crear-proyecto']" [routerLinkActive]="[actived]">Crear proyecto</a></li>
    <li><a [routerLink]="[ '/contacto']" [routerLinkActive]="[actived]">Contactos</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>

</section>
<footer>
  Portafolio de jacksoncuevas.do &copy; | Develop and Design by <a href="http://www.hacksonlab.com" target="_blank">www.hacksonlab.com</a>
</footer>