<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
                'background': config.fondo,
                'padding': '20px',
                'border': '5px solid black',
                'border-color': config.color
            }">
  <h1>
    Bienvenido al {{ title }}
  </h1>
  <p>{{description}}</p>
  <nav>
    <a [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>
    &nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
  </nav>

  <!---<button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <app-video-juego *ngIf="mostrar_videojuegos"></app-video-juego>

  <app-zapatillas></app-zapatillas>
  <app-curso></app-curso> -->

  <!-- <app-zapatillas></app-zapatillas> -->
  <router-outlet></router-outlet>
</div>
