Slider: <strong>{{anchura}}</strong>
Captions: <strong>{{captions}}</strong>
<div class="galeria">
  <div><img src="assets/img/coffee1.jpg" title="Funky roots"></div>
  <div><img src="assets/img/coffee2.jpg" title="The long and winding road"></div>
  <div><img src="assets/img/coffee3.jpg" title="Happy trees"></div>
</div>

<button (click)="lanzar($event)">Conseguir autor</button>