/* Importar fuentes custom */
@font-face{
    font-family: "yanone";
    /* src: url("fonts/yanone.ttf") */
}
@font-face{
    font-family: "finger";
    /* src: url("fonts/finger.ttf") */
}

/* Generales */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    /* background: url("../img/patter.png");
    background-attachment: fixed; */
}
.clearfix{
    float: none;
    clear: both;
}

/* Barra d navegacion / cabecera */

header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}
header ul{
    display: block;
    width: 43%;
    height: inherit;
    margin: 0px auto;
    margin-top: -3px;
    padding-left: 70px;
    text-align: center;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 85px;
}

header a{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
header a:hover, .actived{
    background: rgba(0, 0, 0, 0.8)
}

/* Logotipo */
#logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}

#logo a:hover {
    background: transparent;
    color: black;
    transform: scale(1.50,1.50)
}
/*Contenedor principal */

#content{
    min-height: 700px;
    height: auto;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
    

}

/* Pie de pagina */
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* Sobre mi */
#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;

}
article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}
.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* Seccion con formulario */
.container{
    padding: 50px;
    padding-top: 10px;
}
.container .image{
    float: left;
    width: 47%;
}
.container .image img{
    width: 100%;
    padding-top: 5px;
}

.container .data{
    float: left;
    width: 48%;
    margin-left: 30px;
}
.container h2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15spx;
}

form{
    width: 80%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 45%;
    padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px; 
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}
.button-edit,
.button-delete{
    width: 20%;
    text-align: center;
    float: left;
    margin-right: 10px;
    text-decoration: none;
}

form button:hover,
form input[type="submit"]:hover{
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(13, 67, 133, 1);
}


form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}
.form-error{
    padding: 5px;
    color: red;
}

.message{
    width: 60%;
    padding: 5px;
}

.success{
    color: greenyellow;
    font-style: bold;
}

.success a{
    color: black;
}

.failed{
    color: red;
    font-style: bold;
}
footer a{
    text-decoration: none;
}

/*Pagina de projectos*/

.project{
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.project img{
    width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}

.confirm{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}